language: node_js
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
node_js:
  - "5.0"
services:
  - mongodb
install:
  - npm install
  - npm install coveralls
script:
  - npm test
after_success:
  - npm run coveralls
sudo: false
